<!--template for home-->
<!--roster/templates/roster/home.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"-->
          
{% extends "base.html"%}
{% load humanize %}
{% load url from future %} <!--load the url the way django has coded it in the future -->
   
{% block content %}
   
        <!-- insert image slider here -->
        <div class="slider">
            <!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    <li><img src="{{ STATIC_URL }}data1/images/sliderimage1.jpg" alt="" title="" id="wows1_0"/></li>
                    <li><img src="{{ STATIC_URL }}data1/images/sliderimage2.jpg" alt="" title="" id="wows1_1"/></li>
                    <li><img src="{{ STATIC_URL }}data1/images/sliderimage3.jpg" alt="" title="" id="wows1_2"/></li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title="">1</a>
                    <a href="#" title="">2</a>
                    <a href="#" title="">3</a>
                </div>
            </div>
            <a class="wsl" href="http://wowslider.com"></a>
            <a href="#" class="ws_frame"></a>
            <div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}engine1/wowslider.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
            
        </div>
    
        <div id="teamListing">
            <div id="mensTeams">
                <h2>Men's Athletics</h2>
                <div class="list">
                    <ul>
                        {% for i in mens %}
                            <li><a href="{% url 'roster_teamRoster' i.id %}">{{ i.sport }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        
            <div id="womensTeams">
                <h2>Women's Athletics</h2>
                
                <div class="list">
                    <ul>
                        {% for i in womens %}
                            <li><a href="{% url 'roster_teamRoster' i.id %}">{{ i.sport }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
{% endblock %}