<!--template for home-->
<!--roster/templates/roster/home.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"-->
          
{% extends "base.html"%}
{% load humanize %}
{% load url from future %} <!--load the url the way django has coded it in the future -->
   
{% block content %}
   
        <!-- insert image slider here -->
        <div class="slider">
            <p>Slider goes here.</p>
            
        </div>
    
        <div id="teamListing">
            <div id="mensTeams">
                <h2>Men's Athletics</h2>
                <div class="list">
                    <ul>
                        {% for i in mens %}
                            <li><a href="{% url 'roster_teamRoster' i.id %}">{{ i.sport }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        
            <div id="womensTeams">
                <h2>Women's Athletics</h2>
                
                <div class="list">
                    <ul>
                        {% for i in womens %}
                            <li><a href="{% url 'roster_teamRoster' i.id %}">{{ i.sport }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
{% endblock %}