<!--new file: roster/templates/roster/student.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
{% extends "base.html"%}
{% load humanize %}
{% load url from future %}
{% block content %}

<div class="container">
        <!--{% for i in tempplayers %}-->
        
    <div class="profile">
        <!--this is where the profile photo and demographics for the player will go. See BYU sports for example-->
        <h1>{{ players.name }}</h1>
        <img src="{% url {{ player.image_uri }}}"/>
        <p>Height: {{ players.height }}</p>
        <p>Weight: {{ players.weight }} lbs.</p>
        <p>Class: {{ players.class_level }}</p>
        <p>Major: {{ players.major }}</p>
        <p>Primary Hand: {{ players.primary_hand }}</p>
        <p>Birthdate: {{ players.birthdate }}</p>
        <p>Hometown: {{ players.hometown }}</p>
        <p>High school: {{ players.high_school }}</p>
        <p>Parents: {{ players.parents }}</p>
    </div>
    
    <div class="otherProfile">
        <!--this is where the rest of the player profile will go-->
        <p>Experience:</p>
        <ul>
            <li>{{ players.experience }}</li>
        </ul>
        <p>Other General Information:</p>
        <ul>
            <li>{{ players.general }}</li>
            <li>{{ players.prep_highlights }}</li>
        </ul>
        
    </div>
    
    <div class="seasonInfo">
        <!--this is where the season info will go, with tabs for each season. Later a tab for stats will be added-->
        <div class="tab">
            <p>Current Season</p>
        </div>
            <!-- tab item used for navigating through different content -->
            
        <div class="content">
            <p>{{ players.fall2012 }}</p>
        </div>
        <!-- content that will be switched -->
        
        <div class="tab">
            <p>Freshman Season</p>
        </div>
        <!-- tab item used for navigating through different content -->
        
        <div class="content">
            <p>{{ players.freshman_season }}</p>
        </div>
        <!-- content that will be switched -->
        
        <div class="tab">
            <p>Sophomore Season</p>
        </div>
        <!-- tab item used for navigating through different content -->
        
        <div class="content">
            <p>{{ players.sophomore_season }}</p>
        </div>
        <!-- content that will be switched -->
        
        <div class="tab">
            <p>Junior Season</p>
        </div>
        <!-- tab item used for navigating through different content -->
        
        <div class="content">
            <p>{{ players.junior_season }}</p>
        </div>
        <!-- content that will be switched -->
        
        <div id="screen">
        </div>
        <!-- The div that will contain the interchanging content -->
        
    </div>
</div>
{% endblock %}