<!--new file: roster/templates/roster/student.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
{% extends "base.html"%}
{% load humanize %}
{% load url from future %}
{% block content %}

<div class="container">
    <a href="/teamRoster/10" class="back"><< Back</a>
    <div class="divBorder">   
    <div class="profile">
        <!--this is where the profile photo and demographics for the player will go. See BYU sports for example-->
        
        <h2 id="playerName">{{ players.name }}</h2>
       
        <div class="profileDemographics">
        <img src="{{ STATIC_URL }}{{ images.image_uri }}" id="headshot"/>
        <table id="profileTable">
            <tr>  <td class="profileDemographicsLeft">Height: </td>  <td class="profileDemographicsRight">  {{ players.height }}"</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Weight: </td>  <td class="profileDemographicsRight">  {{ players.weight }} lbs.</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Class: </td>  <td class="profileDemographicsRight">  {{ players.class_level }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Major: </td>  <td class="profileDemographicsRight">  {{ players.major }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Primary Hand: </td>  <td class="profileDemographicsRight">  {{ players.primary_hand }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Prior Experience: </td>  <td class="profileDemographicsRight">{{ players.experience }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Birthdate: </td>  <td class="profileDemographicsRight">{{ players.birthdate }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Hometown: </td>  <td class="profileDemographicsRight">{{ players.hometown }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">High School: </td>  <td class="profileDemographicsRight">{{ players.high_school }}</td> </tr>
            <tr>  <td class="profileDemographicsLeft">Parents: </td>  <td class="profileDemographicsRight">{{ players.parents }}</td> </tr>
        </table>
        </div>
    </div>
    </div>
    
    <div class="otherProfile">
        <!--this is where the rest of the player profile will go-->
       <h3>Other General Information:</h3>
        <ul>
            <li>{{ players.general }}</li>
            <li>{{ players.prep_highlights }}</li>
        </ul>
        
    </div>
    <div class="divBorder">
    <div class="seasonInfo">
        <!--this is where the season info will go, with tabs for each season. Later a tab for stats will be added-->
        <h2 class="profileHeaders">Season History</h2>
        
        <div class="seasonDemographics">
            <h4>Current Season</h4>
            <p>{{ players.fall2012 }}</p>
            
            <h4>Freshman Season</h4>    
            <p>{{ players.freshman_season }}</p>
            
            <h4>Sophomore Season</h4>
            <p>{{ players.sophomore_season }}</p>
            
            <h4>Junior Season</h4>
            <p>{{ players.junior_season }}</p>
        </div> 
       
    </div></div>
</div>
{% endblock %}