<!-- new file: roster/templates/roster/teamRoster.html -->

{% extends "base.html" %}
{% load humanize %}
{% load url from future 

{% block content %}
    <div class="container">
        
        
        
    </div>
       <!--{% for team in teamList %}
           
       <h2>{{ team.pk }}Hello</h2>
        {% endfor %}-->
    <table>    
        
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Primary Hand</th>
            <th>Class</th>
            <th>Hometown</th>
            <th>High School</th>
        </tr>{% for i in teamList %} 
        <tr>
           
            <td><a href="{% url 'rosterPlayer' %}">{{ i.name }}</a></td>
            <td>{{ i.height }}</a></td>
            <td>{{ i.weight }}</a></td>
            <td>{{ i.primary_hand }}</a></td>
            <td>{{ i.class_level }}</a></td>
            <td>{{ i.hometown }}</a></td>
            <td>{{ i.high_school }}</a></td>
            {% endfor %}
        </tr>
        
{% endblock %}
</div>