/*formatting for nav bar and base.html*/
body {
  background-color: #D9D9D9;
  font-family:Ariel, sans-serif;
}
p {
  color: black;
}
#social-icons {
  display: inline;
  float: right;
  /*border: 1px solid black;*/
 margin-right:15px;
 
}
#encompassSM {
  /*border: 1px solid red;*/
  height: auto;
  float: left;
  width: 1000px;
  padding: 0;
  clear: right;
}
/************* CSS for base.html ******************/
.centered {
  margin: 0 auto;
  width: 1000px;
}
.header {
  float:left;
  clear:right;
  text-align:center;
  /*border: 1px solid purple;*/
  width:80%;
}
h1 {
  font-size: 5em;
 /* border: 1px solid green;*/
  float: left;
  text-align:left;
  margin-left: 20px;
}
#logo {
  width: 20%;
  height: 10%;
  float:left;
  margin: 15px 15px 15px 50px;
 /* border:1px solid orange;*/
}
.container { /*applies to all html pages*/
  margin:auto;
  margin-bottom: 30px;
  background-color: #203252;/*dark blue*/
 /* border: 3px solid orange;*/
  float:left;
  width:auto;
  height: auto;
  border-radius:20px;
}
/*colors: carolina blue: #56A0D3; accessibility blue: #5C8CBB; #grey background: #D9D9D9; */
.navigation { /*within the container*/
 /* border:2px dashed orange;*/
  width:auto;
  height:auto;
  margin:auto;
}
#navigationBar {
  /*border:2px solid yellow;*/
  padding:10px 10px;
  margin: auto;
  
}
#navigationBar li {
  display:inline;
  text-align:center;
  padding: 10px 50px;
  margin:auto;
  /*border:2px solid white;*/
}
.navigation-border {
  border-left: 2px solid white;
}
#navigationBar a {
  text-decoration: none;
  color: white;
  font-size:1.2em;
}
#navigationBar li:hover {
  background-color:grey;
  border-radius:10px;
}
.content {
  border-top: 3px solid white;
  margin: 5px 20px;
  width: auto;
  
}
/************ End base.html ***************/

/***************CSS for home.html*****************/
.slider {
  width:auto;
  height:300px;
 /* border:2px dashed yellow;*/
  margin: 20px 10px;
  box-shadow: 5px 5px 5px black;
}
#teamListing { /*div containing men's and women's teams*/
  background-color:white;
  border-radius:5px;
  box-shadow: 5px 5px 5px #888888;
  margin: 20px 10px;
 /* border:3px solid green;*/
  padding: 5px;
  height:520px;
}
#mensTeams {
  float:left;
  /*border: 2px dashed yellow;*/
  text-align:left;
  margin: 15px 10px 20px 20px;
  width: 400px;
}
h2 {
  /*border: 1px solid blue;*/
  margin: 15px;
  text-align:left;
  font-size:2em;
  padding: 2px;
  width:80%;
  color:black;
}
#womensTeams {
  float:right;
  margin:15px 0px 20px 30px;
  /*border: 2px dashed orange;*/
  width:400px;
}
.list ul {
 /* border:1px solid magenta;*/
  margin: 20px 5px;
  padding: 1px;
  width:80%;
  overflow:hidden;
}
.list li { /*format list of teams*/
  text-align:center;
 /* border: 1px solid black;*/
  padding:10px 30px;
  float:left;
  display:block;
  line-height:1.5em;
  width:30%;  
  
}
.list li a {
  text-decoration: none;
  color:#426180;
  font-size: 1.2em;
}
.list li a:hover {
  color:#797B80;
}
/************End of home.html ****************/

/***********Begin teamRoster.html*************/
h2#rosterTitle {
  color:white;
}
#teamPhoto {
  width: 640px;
  height: 360px;
  margin: 0 150px;
  border: 1px solid black;
}
.tableContainer {
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  margin: 20px 20px;
  border:3px solid #D9D9D9;
  padding: 0;
  height:auto;
  width: auto;
}
.roster {
  background-color: #56A0D3;
}
table th td{
 /* border: 2px solid white; /*darker blue*/
  font-size: 0.7em;
}
.teamRosterTable {
  border-collapse:collapse;
  width:95%;
  margin:auto;
 /* background-color:white;*/
  border: hidden;
}
th {
  font-weight:bold;
  height: 25px;
  text-align:left;
  color:black;
  padding:5px;
  
}
.roster td {
  text-align:left;
  height: 25px;
  vertical-align: middle;
  padding: 5px 5px 5px;
  background-color: white;
  border-bottom:2px groove #426180;
}
tr td a {
  color: #426180;
  text-decoration: none;
}
#coach {
  color: white;
  margin: 15px;
}

/************End teamRoster.html*************/

/***********Begin players.html***************/

/*formatting for the profile photo/basic specs for the players.html. Need to adjust the settings still.*/
.profile { /*includes photo and demographics*/
    height:400px;
    width: auto;
    border: 3px solid #D9D9D9;
    border-radius:25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #D9D9D9;
    margin: 0;   
}
.divBorder {
  border:2px solid black;
  height:autu;
  width: auto;
  margin-top: 15px;
  border-radius:25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#playerName {
  margin:0;
  width: auto;
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}

.profileDemographics {
  width: auto;
  height: 355px;
  border: 2px groove #bcd2ee;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #bcd2ee; 
}
.seasonDemographics{
  width: auto;
  height: auto;
  border: 2px groove #bcd2ee;
  border-radius: 25px;
  margin: 0;
  padding: 0 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #bcd2ee; 
}
#headshot {
  width: 250px;
  height: 355px;
  /*border:1px solid black;*/
  margin:0;
  float: left;
  border-bottom-left-radius: 25px;
}
#profileTable {
  width: 500px;
  /*border: 1px solid red;*/
  padding: 35px;
  padding-top: 15px;
}
#profileTable tr td{
  font-size: 1.2em;
  background-color: transparent;
  vertical-align: middle;
  border:1 px solid green;
}
.profileDemographicsLeft td {
  border-right:1px solid black;
  text-align:right;
  line-height: 25px;
  width: 60px;
  padding:0;
}
.profileDemographicsRight td{
  text-align: left;
  border: 1px solid black;
  padding:0;
  margin-left: 15px;
  width: 50px;
}
.otherProfile {
  color:white;
  width:auto;
  padding: 2px 6px 2px 2px;
  margin-left: 15px;
}
.seasonInfo { /*for freshman, sophomore, junior info and later add stats*/
    border: 3px solid #D9D9D9;
    border-radius:25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #D9D9D9;
    padding: 2px 6px 2px 2px;
    height:auto;
    width: auto;    
}















