<!--project template: newschool/templates/base.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>{% block title %}UNC Athletics{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stylesheet.css"/>
    <link type="text/javascript" rel="stylesheet" href="{{ STATIC_URL }}js/javascript.js"/>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
    <!--insert header with logo here -->
    <div class="header">
        <img src="#" alt="UNC logo"/>
        <h1>UNC Athletic Teams</h1>
    </div>
    
    <!--insert horizontal menu here -->
    <div class="navigation">
        <ul id="navBar"> 
          <li><a href="?section=home">Home</a></li> 
          <li><a href="?section=overview">Overview</a></li> 
          <li><a href="?section=products">Products</a></li> 
          <li><a href="?section=contactus">Contact Us</a></li> 
        </ul>    
    </div>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> <!--see settings.py-->
    
</body>

</html>
