<!--project template: newschool/templates/base.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>{% block title %}UNC Athletics{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/stylesheet.css"/>
    <link type="text/javascript" rel="stylesheet" href="{{ STATIC_URL }}js/javascript.js"/>
    <!--<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>-->
</head>

<body>
    <!--insert header with logo here -->
    <div class="header">
        <img id="logo" src="{{ STATIC_URL }}img/unc-logo.gif" alt="UNC logo"/>
        <h1>UNC Athletic Teams</h1>
    </div>
    <div class="container">
    <!--insert horizontal menu here -->
        <div class="navigation">
            <ul id="navigationBar"> 
              <li><a href="home.html">Home</a></li> 
              <li class="navigation-border"><a href="#">Schedules</a></li> 
              <li class="navigation-border"><a href="#">Store</a></li> 
              <li class="navigation-border"><a href="#">Multimedia</a></li>
              <li class="navigation-border"><a href="#">Rams Club</a></li>
            </ul>    
        </div>
    
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> <!--see settings.py-->
    
</body>

</html>
